h2,
.heading2 {
    color: var(--primary);
    font-family: var(--heading);
    font-size: 52px;
    line-height: 1;
    margin-top: 50px;
}

/* form {
    max-width: 600px !important;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.field__description {
    font-size: 14px;
    margin-top: 0;
    color: gray;
}

.row-content {
    margin-top: 50px;
    margin-bottom: 80px;
}
.required {
    color: rgb(224, 0, 0);
}

.contact-image {
    width: 100%;
    object-fit: contain;
    /* display: none; */
}

@media screen and (max-width: 768px) {
    /* .row-content {
        flex-direction: column;
    } */
    .contact-image {
        display: none;
    }
}
